@model DirectoryChangesTracker.Models.ScannedDirectoryResult

@{
	ViewData["Title"] = "Directory scanner result";
}

<h2>Directory scanning result</h2>

@if (!ViewData.ModelState.IsValid)
{
	<div class="alert alert-danger">
		<ul>
			@foreach (var modelState in ViewData.ModelState.Values)
			{
				foreach (var error in modelState.Errors)
				{
					<li>@error.ErrorMessage</li>
				}
			}
		</ul>
	</div>
}

else if (Model == null)
{
	<div class="alert alert-danger">
		<p>Unknown error during scanning occured</p>
	</div>
}

else
{
	@if (!Model.HasFilesOrDirectoriesChanges && !Model.IsNew)
	{
		<div class="alert alert-success">
			No changes detected since the last scanning for path:
			<strong>@Model.DirectorySnapshot.LocalPath</strong>
		</div>
	}
	else if (Model.IsNew)
	{
		<div class="alert alert-success">
			Newly created directory for path:
			<strong>@Model.DirectorySnapshot.LocalPath</strong>
		</div>
	}

	else
	{
		@if (Model.NewCreatedFiles.Any())
		{
			<h4>🟢 New files: @Model.NewCreatedFiles.Count</h4>
			<ul class="list-group mb-3">
				@foreach (FileSnapshot file in Model.NewCreatedFiles)
				{
					<li class="list-group-item">@file.LocalPath</li>
				}
			</ul>
		}

		@if (Model.ModifiedFiles.Any())
		{
			<h4>🟡 Modified files: @Model.ModifiedFiles.Count</h4>
			<ul class="list-group mb-3">
				@foreach (FileSnapshot file in Model.ModifiedFiles)
				{
					<li class="list-group-item">@file.LocalPath</li>
				}
			</ul>
		}

		@if (Model.DeletedFiles.Any())
		{
			<h4>🔴 Deleted files: @Model.DeletedFiles.Count</h4>
			<ul class="list-group mb-3">
				@foreach (FileSnapshot file in Model.DeletedFiles)
				{
					<li class="list-group-item">@file.LocalPath</li>
				}
			</ul>
		}

		@if (Model.NewCreatedSubdirectories.Any())
		{
			<h4>🟢 New subdirectories: @Model.NewCreatedSubdirectories.Count</h4>
			<ul class="list-group mb-3">
				@foreach (string subdirectory in Model.NewCreatedSubdirectories)
				{
					<li class="list-group-item">@subdirectory</li>
				}
			</ul>
		}

		@if (Model.DeletedSubdirectories.Any())
		{
			<h4>🔴 Deleted subdirectories: @Model.DeletedSubdirectories.Count</h4>
			<ul class="list-group mb-3">
				@foreach (string subdirectory in Model.DeletedSubdirectories)
				{
					<li class="list-group-item">@subdirectory</li>
				}
			</ul>
		}
	}

	@if (Model.DirectorySnapshot.Files.Any())
	{
		<h4>
			<a class="text-decoration-none" data-bs-toggle="collapse" href="#newFilesCollapse" role="button" aria-expanded="false" aria-controls="newFilesCollapse">
				🟢 Current files count: @Model.DirectorySnapshot.Files.Count (click to see the list)
			</a>
		</h4>
		<div class="collapse mb-3" id="newFilesCollapse">
			<ul class="list-group">
				@foreach (FileSnapshot file in Model.DirectorySnapshot.Files)
				{
					<li class="list-group-item text-break">@file.LocalPath, Version: @file.Version</li>
				}
			</ul>
		</div>
	}
}

<p>Run another scanning <a asp-controller="ScanDirectory" asp-action="Index">here</a></p>